<button mat-button (click)="filterButtonClick()">Filter</button>
<button mat-button (click)="setOffFilter()">Set off filter</button>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" (page)="handleChangePage($event)" ></mat-paginator>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" cdkDropListGroup matSort (matSortChange)="sortData($event)">
   <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.field">
    <mat-header-cell *matHeaderCellDef 
    (mousedown)="onResizeColumn($event, i)"
      >
      <div mat-sort-header>{{ column.field }}</div>
    </mat-header-cell>
    <mat-cell *matCellDef="let row;let i = index;"  > {{ row[column.field] }}  </mat-cell>
  </ng-container> 
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" ></mat-row>
</mat-table>
