.isredbox{background-color:rgb(236, 233, 233);}


.isrowbold{ font-weight: bold;}
.griddata-container {

    overflow: auto;
    
  }


  .example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
  