<div mat-dialog-content>
    <p>Choose filter attributes</p>
    <p *ngFor="let conf of filterChoosedConfs;let ind=index;">
      {{ind}}
      <mat-form-field *ngIf="ind>0">
        <mat-label>Bool</mat-label>
        <mat-select [(ngModel)]="conf.boolOper" name="boolOper">
          <mat-option *ngFor="let boolOper of filterBoolOpersTypes" [value]="boolOper">
            {{boolOper}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Field</mat-label>
        <mat-select [(ngModel)]="conf.field" name="food">
          <mat-option *ngFor="let food of data.columns" [value]="food.field">
            {{food.field}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Filter text</mat-label>
        <input matInput [(ngModel)]="conf.filterText">
      </mat-form-field>
      
      <mat-form-field *ngIf="conf.field && getTypeOfField(conf.field) === 'string' ">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="conf.filterType" name="filterType">
          <mat-option *ngFor="let filterType of filterTypesForString" [value]="filterType">
            {{filterType}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="conf.field && getTypeOfField(conf.field) === 'number' ">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="conf.filterType" name="filterType">
          <mat-option *ngFor="let filterType of filterTypesForNumber" [value]="filterType">
            {{filterType}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      
    </p>





    <button mat-button (click)="addClickHandler()">Add</button>
    <button mat-button (click)="removeCLickHandler()">Remove</button>



  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="filterConf" cdkFocusInitial>Apply</button>
  </div>